node_modules
.next/cache
/.pnp
.pnp.js
coverage
.cypress
.nyc_output
logs
*.log

.git
.gitignore

# السماح بنسخ Standalone, static و public
!.next/standalone
!.next/static
!public
node_modules
.git
.gitignore
README.md
Dockerfile
.dockerignore
.next
npm-debug.log*
.env*.local
.vercel
*.log
.DS_Store
coverage
.nyc_output
build
dist
out